<div class="row col-md-4 col-md-offset-4">
    <h1 class="center">Register</h1>
    <%= form_for(@user) do |f| %>
        
        <%= render 'errors/user_errors'%>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
       
        <%= f.label :password_confrimation %>
        <%= f.password_field :password_confrimation, class: "form-control" %>
        
        <%= f.submit "Register", class: "btn btn-success form-control" %>
    <% end %>
</div>